@import 'https://fonts.googleapis.com/css?family=Montserrat';

#gameContent {
    position: relative;
    width: 100%;
    height: 898px;
}

#gameHeader {
    width: 100%;
    height: 260px;
    padding-top: 20px;
    background-color: LimeGreen;
    color: white;
    font-size: 1.45rem;
    font-weight: bold;
    text-align: center;

    #displayedResult {
        font-size: 1.15rem;
        margin-top: 30px;
        opacity: 0.0;
    }
}

#colors {
    width: 810px;
    height: auto;
    margin: 15px auto 0 auto;
    text-align: center;
}

.colorObj {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 15%;
    margin: 0 10px 5px 10px;
}

footer {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    font-weight: bold;
    font-size: 1.2rem;
    #tryAgain {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: DarkSlateGray;
        border-radius: 2px;
        padding: 5px;
        color: white;
    }

    #difficulty {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: DarkSlateGray;
        border-radius: 2px;
        padding: 5px;

        #diffEasy {
            color: black;
        }

        #diffHard {
            color: gold;
        }
    }
}